<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19042067110-dnmjkg73oc81f9qit854l9bqjrcd4f5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19042067110-dnmjkg73oc81f9qit854l9bqjrcd4f5d</string>
	<key>API_KEY</key>
	<string>AIzaSyA348Psctf-7sHFpq4AAivchky1zWlU3vA</string>
	<key>GCM_SENDER_ID</key>
	<string>19042067110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.social.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-app-6bea7</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-6bea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19042067110:ios:e0121a391ccc1dae878a67</string>
</dict>
</plist>